<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4beb6">  <td>18/10/15 00:02:50</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/10/15 00:02:51</td>   <td>1560</td> <td>&nbsp;</td><td title="&gt;&gt;TC004_DeleteLead.setData()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/10/15 00:02:51</td>   <td>1575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/10/15 00:02:52</td>   <td>2449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/10/15 00:03:00</td>   <td>10484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_DeleteLead.editLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">editLead</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/10/15 00:03:25</td>   <td>35941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/10/15 00:03:26</td>   <td>36611</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/10/15 00:03:26</td>   <td>36659</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC004_DeleteLead@55d56113]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
</table>
